.footer {
  box-sizing: border-box;
  margin-top: 40px;
  background-color: rgb(36, 38, 38);
  color: rgb(205, 207, 206);
  height: 170px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
}

.footer-left {
  width: 60%;
}

.about-bis {
  padding: 10px;
}

.bis-description {
  /* width: 55%; */
  font-size: 14px;
  padding: 10px;
}

.contact-cecilia {
  padding-bottom: 10px;
}

.footer-right {
  padding: 10px;
  margin-left: 29px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;

  /* margin-left: 5%; */
}

.linkedin-github {
  text-decoration: none;
  color: rgb(205, 207, 206);
  margin-bottom: 6px;
  font-weight: 500;
}
