.CreateListingFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 350px;
}

.list-biz-title-modal {
  text-align: center;
  color: #E10984;
}

.list-biz-servicename-modal {
  color: black;
}

/* .CreatbookingFormBody {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.EditBookingFormBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-booking-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.EditBookingFormHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
