.profile-container {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-top: 5%;
  border: 1px ridge rgb(242, 242, 242);
  /* border: solid; */
}

#appointments-tab-prof-title {
  /* margin-bottom: 30px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: solid; */
  height: 60px;
  width: 200px;
  font-size: 18px;
}
#favorites-tab-prof-title {
  /* margin-bottom: 30px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: solid; */
  height: 60px;
  width: 200px;
  font-size: 18px;
}

#reviews-tab-prof-title {
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: solid; */
  height: 60px;
  font-size: 18px;
}

.nav-in-profile {
  height: 1000px;
}

/* .selected-tab-in-profile {
  padding-left: 30%;
  padding-top: 15px;
  border-left: 1px ridge rgb(242, 242, 242);
} */

.selected-tab-in-profile {
  width: 100%;
  /* padding-left: 10%;
  padding-right: 10%; */
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px ridge rgb(242, 242, 242);
  /* border-left: solid; */
}














/* .bookings-in-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.each-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  border-bottom: 1px ridge rgb(242, 242, 242);
}

.calendar-icon {
  display: flex;
  flex-direction: row;
}

.date-calendar {
  margin-left: 7px;
  font-weight: 200;
  margin-bottom: 10px;
}

.biz-name-bookings {
  margin-bottom: 10px;
  font-weight: 400;
}

.service-name-bookings {
  margin-bottom: 10px;
  font-weight: 200;
}

.time-in-bookings {
  font-weight: 200;
}

.modify-booking-btn {
  margin-bottom: 10px;
} */
