.signup-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
}

.signup-btn {
  margin-top: 20px;
  width: max-content;
  width: 360px;
  height: 30px;
}

.signup-input {
  /* box-sizing: border-box; */
  width: 350px;
  height: 25px;
}

.signup-label-and-input {
  margin-bottom: 15px;
}

.welcome-signup {
  margin-bottom: 35px;
  color: #E10984;
}

.firstname-field {
  margin-top: 15px;
}
