.home-main-img {
  position: absolute;
  top: 80px;
}

.home-main-img-div {
  background-position: 320px;
  background-repeat: no-repeat;
  background-image: url(https://dsifg2gm0y83d.cloudfront.net/bundles/assets/images/homepage_banner_desktop.bbe277e6004165e8db3a.jpg);
  background-size: cover;
  background-color: #ebebeb;
  height: 450px;
  margin-left: 5%;
  margin-right: 5%;
}

.find-pros {
  display: flex;
  justify-content: center;
  position: relative;
  top: 500px;
}
