.home-main-img {
  position: absolute;
  top: 80px;
}

.home-main-img-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-image: url('../homepage.png'); */
}

.find-pros {
  display: flex;
  justify-content: center;
  position: relative;
  top: 500px;
}
